<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li>
                    <a class="nav_link" href="#">Main</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link  has-subnav" href="#">state</a>
                    <ul class="subnav">
                        <li>
                            <a href="#">design sites</a>
                        </li>
                        <li>
                            <a href="#">marketing</a>
                        </li>
                        <li>
                            <a href="#">Prodvishenie</a>
                        </li>
                    </ul>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">About me</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">reclam</a>
                </li>
            </ul>
        </nav>
    </div>  
    <div class="header_right">
        <nav class="nav">
            <ul>
                <li >
                    <a class="nav_link" href="#">Pofile</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input class="search_input" type="text" placeholder="Search...">
        </form>
    </div>  
</header>
